
sandbox/.gradle/checksums/checksums.lock
sandbox/.gradle/buildOutputCleanup/outputFiles.bin
sandbox/.gradle/buildOutputCleanup/cache.properties
sandbox/.gradle/buildOutputCleanup/buildOutputCleanup.lock
sandbox/.gradle/7.0.2/javaCompile/javaCompile.lock
sandbox/.gradle/7.0.2/gc.properties
sandbox/.gradle/7.0.2/fileHashes/fileHashes.lock
sandbox/.gradle/7.0.2/fileHashes/fileHashes.bin
sandbox/.gradle/7.0.2/fileChanges/last-build.bin
sandbox/.gradle/7.0.2/executionHistory/executionHistory.lock
sandbox/.gradle/7.0.2/executionHistory/executionHistory.bin
sandbox/.gradle/7.0.2/dependencies-accessors/gc.properties
sandbox/.gradle/7.0.2/dependencies-accessors/dependencies-accessors.lock
sandbox/.gradle/vcs-1/gc.properties
sandbox/build/classes/java/main/MyFP.class
sandbox/build/tmp/compileJava/source-classes-mapping.txt
sandbox/build/tmp/jar/MANIFEST.MF
.idea/workspace.xml
